absl-py==1.1.0
alembic==1.4.2
aniso8601==9.0.1
anyio==3.6.1
apify-client==0.5.0
APScheduler==3.6.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
Automat==20.2.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.10.0
bidict==0.21.4
bleach==5.0.0
blis==0.7.7
bs4==0.0.1
cachetools==4.2.2
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cleantext==1.1.4
click==7.1.2
colorama==0.4.4
colorgram.py==1.2.0
constantly==15.1.0
cryptography==36.0.2
cssselect==1.1.0
cycler==0.11.0
cymem==2.0.6
datature-hub==0.2.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dirhash==0.2.1
dominate==2.5.1
entrypoints==0.4
executing==0.8.3
fanstatic==1.2
fastjsonschema==2.15.3
filelock==3.6.0
Flask==2.0.0
Flask-Bootstrap4==4.0.2
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.9
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
flatbuffers==2.0
fonttools==4.34.4
gast==0.3.3
google==3.0.0
google-api-core==2.7.1
google-api-python-client==2.52.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-automl==2.7.3
google-cloud-vision==2.7.3
google-pasta==0.2.0
googleapis-common-protos==1.55.0
grpcio==1.47.0
grpcio-status==1.47.0
h11==0.13.0
h5py==2.10.0
heroes==1.0.2
httplib2==0.20.4
huggingface-hub==0.5.1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.1
importlib-resources==5.7.1
incremental==21.3.0
instagramy==4.4
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itemadapter==0.5.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
js==1.0
json5==0.9.8
jsonpickle==2.0.0
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.2.1
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-server==1.18.0
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
langcodes==3.3.0
libclang==13.0.0
# Editable install with no version control (libsvm-official==3.25.0)
-e c:\users\abiga\dropbox\my pc (laptop-4mir8o84)\downloads\libsvm-master\libsvm-master\python
lxml==4.8.0
Mako==1.1.2
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mediapipe==0.8.10.1
mistune==0.8.4
murmurhash==1.0.6
mypy==0.770
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
nltk==3.7
notebook==6.4.11
notebook-shim==0.1.0
npm==0.1.1
numpy==1.23.1
oauthlib==3.2.0
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
opt-einsum==3.3.0
optional-django==0.1.0
outcome==1.1.0
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
pickleshare==0.7.5
Pillow==9.2.0
preshed==3.0.6
prettytable==2.1.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
Protego==0.2.1
proto-plus==1.20.6
protobuf==3.20.1
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
PyDispatcher==2.0.5
Pygments==2.11.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
pytelebot==0.0.1
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
python-editor==1.0.4
python-engineio==4.3.1
python-socketio==5.5.1
python-telegram-bot==13.11
pytz==2021.3
pywin32==303
pywinpty==2.0.5
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.1
QtPy==2.1.0
queuelib==1.6.2
regex==2022.3.2
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.8
ruby==0.0.2
sacremoses==0.0.49
scandir==1.10.0
scantree==0.0.1
scikit-learn==1.0.2
scipy==1.4.1
Scrapy==2.6.1
seaborn==0.11.2
selenium==4.1.3
Send2Trash==1.8.0
service-identity==21.1.0
Shapely==1.7.1
shutilwhich==1.1.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy==1.3.16
srsly==2.4.2
stack-data==0.2.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-estimator==2.3.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.15.0
textblob==0.17.1
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.15
threadpoolctl==3.1.0
tinycss2==1.1.1
tldextract==3.2.0
tokenizers==0.12.1
tornado==6.1
tqdm==4.63.0
traitlets==5.2.2.post1
Transcrypt==3.7.16
websocket-client==1.3.3
Werkzeug==2.0.3
widgetsnbextension==3.6.0
wordcloud==1.8.1
wrapt==1.13.3
wsproto==1.1.0
WTForms==2.3.1
zipp==3.7.0
zope.interface==5.4.0