

.homeTopButtonsContainer{
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    padding: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 9px;
    /*border: solid black 0.2rem;*/
}

.homeContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(248, 245, 255);
    /*background-color: rgb(244, 243, 255);*/
    /* background-image: linear-gradient(to bottom right,rgb(230, 230, 255),rgb(222, 234, 255)); */
}

.homeTopButtons{
    background-color: transparent;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

.homeInfoContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.homeInfoStack{
    min-width: min-content;
    width: 18rem;

}

.homeInfoTitleMinsText{
    font-weight: 500;
    font-size: 3.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.homeInfoTitleTexts{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.homeInfoTexts{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.homeTitles{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.homeChartContainer{
    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px;
    /*border: solid black 0.2rem;*/
}

.homeRecentContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.HistoryContainer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(248, 245, 255);

}

.homeRecentIndivContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    /*border: solid black 0.2rem;*/
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px;
    background-color: white;

}

.homeRecentIndivStatTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.homeRecentIndivSubTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    
}

.homeRecentIndivStatText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.homeRecentIndivStatType{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.homeRecentIndivStat {
    margin-top: 0.8rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;

}

.homeRecentImageCol {
    padding: 0rem;
    padding-right:0.5rem;
}

.homeRecentImage {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}


.ReviewSaveContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:rgb(248, 245, 255) ;
}

.ReviewSaveHeaderContainer {
    margin-top: 2rem;
}

.ReviewSaveInfoGrid{
    margin-top: 2rem;
}

.ReviewSaveSetsContainer{
    margin-top: 2rem;
}


.ReviewSaveCommentsContainer{
    margin-top: 1rem;
}

.ReviewSavePostureContainer{
    margin-top: 2rem;
    margin-bottom: 9rem;
}

.ReviewSaveSaveButton{
    float: right;
}

.ReviewCommentTextbox{
    border: solid 0.1rem rgb(219, 219, 219);
    border-radius: 0.5rem;
    min-width: min-content;
    min-height: min-content;
    height: 5rem;
    background-color: white;
}

.ReviewCommentText{
    margin-top: 0.5rem;
}


.TopHeader {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: aliceblue;

}

.NewActivityContainer {
    background-color:rgb(248, 245, 255) ;
    padding-top: 10rem ;
    padding-bottom: 12rem;
}

.MarginforNavbar {
    margin-bottom: 6rem;
}

.RestyleLink {
    font-style:normal;
    color: black;
    text-decoration: none ;
}



.SetHeaderIcon {
    margin-top: 1rem;
}

.SetReviewHeader {
    margin-left: 8rem;
}

.SetReviewandSaveHeader {
    margin-left: 4rem;
}

.NewActivityButtons {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 9px;
    border-radius: 1rem;
    background-color: white;
}

.SettingsContainer {
    background-color:rgb(248, 245, 255) ;
    padding-top: 2rem;
    padding-bottom: 16rem;
}

.IndividualSettingsContainer {

    border-radius: 1rem;
    /*border: solid black 0.2rem;*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px;
    background-color: white;
    padding: 1.5rem;
   
}

.ReviewDateText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;

}

.ReviewTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5rem;
    
}

.ReviewInfoType{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    
}

.ReviewInfoText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    
}

