

.homeTopButtonsContainer{
    margin-top: 6rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    border: solid black 0.2rem;
}

.homeTopButtons{
    background-color: transparent;
    color:black;
}

.homeInfoContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.homeInfoStack{
    min-width: min-content;
    width: 18rem;

}

.homeChartContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: solid black 0.2rem;
}

.homeRecentContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.HistoryContainer{
    margin-top: 6rem;
    margin-bottom: 1rem;

}

.homeRecentIndivContainer{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: solid black 0.2rem;
    padding: 0.5rem;

}

.homeRecentIndivStat {
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.homeRecentImageCol {
    padding: 0rem;
    padding-right:0.5rem;
}

.homeRecentImage {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.backgroundCheck {
    background-color: aqua;
}

.ReviewSaveHeaderContainer {
    margin-top: 6rem;
}

.ReviewSaveInfoGrid{
    margin-top: 2rem;
}

.ReviewSaveSetsContainer{
    margin-top: 2rem;
}


.ReviewSaveCommentsContainer{
    margin-top: 1rem;
}

.ReviewSavePostureContainer{
    margin-top: 2rem;
    margin-bottom: 9rem;
}

.ReviewSaveSaveButton{
    float: right;
}

.ReviewCommentTextbox{
    border: solid 0.1rem rgb(219, 219, 219);
    border-radius: 0.5rem;
    min-width: min-content;
    min-height: min-content;
    height: 5rem;
}

.ReviewCommentText{
    margin-top: 0.5rem;
}


.TopHeader {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: aliceblue;

}

.NewActivityContainer {
    margin-top: 10rem;
}

.MarginforNavbar {
    margin-bottom: 6rem;
}

.RestyleLink {
    font-style:normal;
    color: black;
    text-decoration: none ;
}