.FooterPosition {
    position: fixed;
    bottom: 0;
}

.backgroundCheck {
    background-color: rgb(255, 153, 70);
    min-width: 4rem;
    border-radius: 0.5rem;
}

.TopHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: rgb(136, 125, 255); */
    background-color: rgb(255, 153, 70);
    color: white;


}

.TopHeaderText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;


}

.SetHeaderIcon {
    background-color:aquamarine;
}

.PositionArrow {
    margin-left: 2rem;
}