.FooterPosition {
    position: fixed;
    bottom: 0;
}

.backgroundCheck {
    background-color: white;
}

.TopHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: aliceblue;

}

.SetHeaderIcon {
    background-color:aquamarine;
}

.PositionArrow {
    margin-left: 2rem;
}